svg {
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
