.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        margin: 0;
        a {
            text-decoration: none;
            color: black;
        }
    }
}

button {
    margin-left: 10px;
}
