<h1>Coin API</h1>

<mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">

        <mat-expansion-panel-header>

            <mat-panel-title [ngClass]="{'accordion-title-open' : panelOpenState()}">
                Parameters
            </mat-panel-title>

            <mat-panel-description *ngIf="!panelOpenState()">
                GBP to BTC (01/01/2020 to 31/12/2024 every 1 hour)
            </mat-panel-description>

        </mat-expansion-panel-header>

        <form [formGroup]="form">

            <!-- Source Asset -->
            <mat-form-field appearance="outline">

                <!-- Label -->
                <mat-label>
                    Choose Source Asset
                </mat-label>

                <!-- Textbox -->
                <div style="display: flex;">
                    <input
                        type="text"
                        matInput
                        [formControl]="sourceAsset"
                        [matAutocomplete]="auto"
                        placeholder="Type to search"
                        style="flex: 4;"
                    >

                    <mat-checkbox style="flex: 1; text-align: right;" [formControl]="sourceAssetCrypto">
                        Include Crypto
                    </mat-checkbox>
                </div>

                <!-- Autocomplete -->
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option
                        *ngFor="let asset of filteredSourceAssets$ | async"
                        [value]="asset"
                    >
                        {{ asset.name ? asset.name + ' (' + asset.asset_id + ')' : asset.asset_id }}
                    </mat-option>
                </mat-autocomplete>

                <!-- Clear Button -->
                <button matSuffix mat-icon-button aria-label="Clear" (click)="form.controls['sourceAsset'].setValue('')" *ngIf="form.value.sourceAsset">
                    <mat-icon>
                        close
                    </mat-icon>
                </button>

            </mat-form-field>

        </form>

    </mat-expansion-panel>

</mat-accordion>
