<div class="container">

    <div class="header-row">
        <h1>Request Parameters</h1>
        <button
            mat-fab
            color="primary"
            matTooltip="Close Form"
            matTooltipPosition="above"
            (click)="handleClose()"
        >
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-dialog-content [formGroup]="form">

        <div class="full-width">

            <!-- Practice Code -->
            <mat-form-field class="full-width">

                <mat-label>
                    Practice Code
                </mat-label>

                <input matInput type="text" name="practiceCode" placeholder="Enter practice code" formControlName="practiceCode" appearance="fill" />

                <button
                    matSuffix
                    mat-icon-button
                    (click)="form.controls['practiceCode'].setValue('')"
                    *ngIf="form.value.practiceCode"
                    matTooltip="Clear"
                    matTooltipPosition="above"
                >
                    <mat-icon>close</mat-icon>
                </button>

            </mat-form-field>
        </div>

        <div class="full-width">

            <!-- BNF Code -->
            <mat-form-field class="full-width">

                <mat-label>
                    BNF Code
                </mat-label>

                <input matInput type="text" name="bnfCode" placeholder="Enter BNF code" formControlName="bnfCode" />

                <button
                    matSuffix
                    mat-icon-button
                    (click)="form.controls['bnfCode'].setValue('')"
                    *ngIf="form.value.bnfCode"
                    matTooltip="Clear"
                    matTooltipPosition="above"
                >
                    <mat-icon>close</mat-icon>
                </button>

            </mat-form-field>
        </div>

        <div class="full-width">            

            <!-- Start / End Date -->
            <mat-form-field class="full-width">

                <mat-label>Select a date range (mmm yyyy)</mat-label>

                <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
                    <input matStartDate formControlName="startDate" placeholder="Start date">
                    <input matEndDate formControlName="endDate" placeholder="End date">
                </mat-date-range-input>

                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

            </mat-form-field>

        </div>

        <button
            mat-raised-button
            color="primary"
            (click)="handleSubmit()"
            matTooltip="Requests take approximately 10 seconds per month of data, depending on concurrency levels"
            matTooltipPosition="above"
        >
            SUBMIT
        </button>

    </mat-dialog-content>
</div>
