.container {
    width: 600px;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

h1 {
    margin-left: 20px;
    margin-bottom: 0;
}

.close-button {
    margin-right: 20px;
}

.full-width {
    width: 100%;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
    gap: 1rem;
}

.form-row mat-form-field {
    flex: 1;
}

mat-card {
    margin-bottom: 10px;
}

mat-radio-button {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.tab-container {
    margin-top: 10px;
}

mat-divider {
    margin-bottom: 30px;
}
