<div class="container">

    <div class="header-row" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
        <h1>Chart Settings</h1>
        <button
            mat-mini-fab
            matTooltip="Close Form"
            matTooltipPosition="above"
            (click)="handleClose()"
            class="close-button"
        >
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-dialog-content [formGroup]="form">

        <mat-tab-group>

            <!-- Chart Type Tab -->
            <mat-tab label="Chart Type">

                <div class="tab-container" formGroupName="options">

                    <mat-radio-group formControlName="chartType">

                        <mat-radio-button value="line" (click)="onRadioClick($event)">
                            Line
                        </mat-radio-button>

                        <mat-radio-button value="bar" (click)="onRadioClick($event)">
                            Bar
                        </mat-radio-button>

                    </mat-radio-group>

                </div>

            </mat-tab>

            <!-- Line Tab -->
            <mat-tab label="Line" *ngIf="form.value.options.chartType === 'line'">

                <div class="tab-container" formGroupName="options">
                        <div formGroupName="line">

                        <mat-card appearance="outlined">

                            <mat-card-header>

                                <mat-card-title>Line Options</mat-card-title>

                            </mat-card-header>

                            <mat-card-content>
                                <div class="full-width form-row">

                                    <!-- Stroke Width -->
                                    <mat-form-field>
        
                                        <mat-label for="stroke">
                                            Stroke Width
                                        </mat-label>
        
                                        <input matInput type="number" placeholder="Stroke Width" formControlName="stroke" appearance="fill" step="0.1" min="0" max="10" />
        
                                    </mat-form-field>
        
                                </div>
                            </mat-card-content>

                        </mat-card>
                    </div>
                </div>

            </mat-tab>

            <!-- Markers Tab -->
            <mat-tab label="Markers" *ngIf="form.value.options.chartType === 'line'">

                <div class="tab-container" formGroupName="options">

                    <mat-card appearance="outlined">

                        <mat-card-header>

                            <mat-card-title>Line Markers</mat-card-title>

                        </mat-card-header>

                        <mat-card-content>

                            <!-- Enable Markers -->
                            <div class="full-width form-row">
                                <mat-checkbox formControlName="markers">Enable Markers</mat-checkbox>
                            </div>

                            <!-- Marker Size -->
                            <div class="full-width form-row">

                                <mat-form-field class="full-width">

                                    <mat-label for="markerSize">
                                        Marker Size
                                    </mat-label>

                                    <input matInput type="number" placeholder="Marker size" formControlName="markerSize" appearance="fill" />

                                </mat-form-field>

                            </div>

                        </mat-card-content>

                    </mat-card>

                </div>

            </mat-tab>

            <!-- Bars Tab -->
            <mat-tab label="Bar" *ngIf="form.value.options.chartType === 'bar'">

                <div class="tab-container" formGroupName="options">
                    <div formGroupName="bar">
                        <mat-card appearance="outlined">

                            <mat-card-header>

                                <mat-card-title>Bar Options</mat-card-title>

                            </mat-card-header>

                            <mat-card-content>
                                <div class="full-width form-row">

                                    <!-- Bar Width -->
                                    <mat-form-field>
        
                                        <mat-label for="width">
                                            Bar Width
                                        </mat-label>
        
                                        <input matInput type="number" placeholder="Bar Width" formControlName="width" appearance="fill" step="0.1" min="0" max="10" />
        
                                    </mat-form-field>
        
                                </div>
                            </mat-card-content>

                        </mat-card>
                    </div>
                </div>

            </mat-tab>

            <!-- Dimensions Tab -->
            <mat-tab label="Dimensions">

                <div class="tab-container">

                    <!-- Chart Size -->
                    <div formGroupName="dimensions">
                        <div class="full-width form-row">

                            <!-- Width -->
                            <mat-form-field>

                                <mat-label>
                                    Chart Width (Max {{ dimensions.width }})
                                </mat-label>

                                <input matInput type="number" placeholder="Chart Width" formControlName="width" appearance="fill" step="10" min="0" [max]="dimensions.width" />

                            </mat-form-field>

                            <!-- Height -->
                            <mat-form-field>

                                <mat-label>
                                    Chart Height (Max {{ dimensions.height }})
                                </mat-label>

                                <input matInput type="number" placeholder="Chart Height" formControlName="height" appearance="fill" step="10" min="0" [max]="dimensions.height" />

                            </mat-form-field>

                        </div>
                    </div>

                    <mat-divider />

                    <!-- Margins -->
                    <div formGroupName="options">
                        <div formGroupName="margins">

                            <div class="full-width form-row">

                                <!-- Top Margin -->
                                <mat-form-field>

                                    <mat-label>
                                        Top Margin
                                    </mat-label>

                                    <input matInput type="number" placeholder="Top Margin" formControlName="top" appearance="fill" step="10" min="0" />

                                </mat-form-field>

                                <!-- Bottom Margin -->
                                <mat-form-field>

                                    <mat-label>
                                        Bottom Margin
                                    </mat-label>

                                    <input matInput type="number" placeholder="Bottom Margin" formControlName="bottom" appearance="fill" step="10" min="0" />

                                </mat-form-field>

                            </div>

                            <div class="full-width form-row">

                                <!-- Left Margin -->
                                <mat-form-field>

                                    <mat-label>
                                        Left Margin
                                    </mat-label>

                                    <input matInput type="number" placeholder="Left Margin" formControlName="left" appearance="fill" step="10" min="0" />

                                </mat-form-field>

                                <!-- Right Margin -->
                                <mat-form-field>

                                    <mat-label>
                                        Right Margin
                                    </mat-label>

                                    <input matInput type="number" placeholder="Right Margin" formControlName="right" appearance="fill" step="10" min="0" />

                                </mat-form-field>

                            </div>
                        </div>
                    </div>

                </div>

            </mat-tab>

        </mat-tab-group>

    </mat-dialog-content>

</div>
