<div class="container">
    <mat-accordion>

        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">

            <mat-expansion-panel-header>

                <mat-panel-title [ngClass]="{'accordion-title-open' : panelOpenState()}">
                    Assets
                </mat-panel-title>

                <mat-panel-description *ngIf="!panelOpenState()">
                    <span>Click to see a list of Assets</span>
                </mat-panel-description>

            </mat-expansion-panel-header>

            <form [formGroup]="form">

                <mat-form-field>

                    <mat-label>
                        Filter by Name or ID
                    </mat-label>

                    <input matInput type="text" name="nameOrId" [placeholder]="placeHolder" formControlName="nameOrId" />

                    <button matSuffix mat-icon-button (click)="form.controls['nameOrId'].setValue('')" *ngIf="form.value.nameOrId">
                        <mat-icon>close</mat-icon>
                    </button>

                </mat-form-field>

                <mat-checkbox formControlName="includeCrypto">
                    Include Crypto
                </mat-checkbox>

            </form>
            
            <mat-list>
                <div mat-subheader class="mat-list-subheader">
                    <div>Assets</div>
                    <div>Displaying {{ (data$ | async)?.length }} results</div>
                </div>
            
                <mat-divider></mat-divider>
            
                <mat-list-item *ngFor="let d of (data$ | async)!">
                    <mat-icon matListItemIcon>{{ d.type_is_crypto ? 'currency_bitcoin' : '' }}</mat-icon>
                    <!-- <img *ngIf="d.id_icon" [src]='imgUrl + d.id_icon.replaceAll("-", "") + ".png"' alt="" class="asset-icon"> -->
                    <div matListItemTitle>{{ d.name }}</div>
                    <div matListItemLine>{{ d.asset_id }}</div>
                    
                </mat-list-item>

            </mat-list>
            
        </mat-expansion-panel>


    </mat-accordion>

</div>
