.sidenav-item * {
    vertical-align: middle;
}

.sidenav-item mat-icon {
    margin-right: 10px;
}

.active-list-item {
    background-color: rgb(230, 230, 230);
    mat-icon {
        color: #3F51B5 !important;
    }
    span {
        color: #3F51B5 !important;
    }
}
