<div [formGroup]="group" class="tab-container">

    <!-- Card -->
    <mat-card appearance="outlined">

        <!-- Content -->
        <mat-card-content>

            <!-- Font Size -->
            <div class="full-width form-row">

                <mat-form-field>

                    <mat-label for="fontSize">
                        Font Size
                    </mat-label>

                    <input
                        matInput
                        type="number"
                        placeholder="Font Size"
                        formControlName="fontSize"
                        appearance="fill"
                        step="1"
                        min="3"
                        max="30"
                    />

                </mat-form-field>

            </div>

            <!-- Ticks -->
            <div class="full-width form-row">

                <mat-form-field>

                    <mat-label for="ticks">
                        Ticks
                    </mat-label>

                    <input
                        matInput
                        type="number"
                        placeholder="Ticks"
                        formControlName="ticks"
                        appearance="fill"
                        step="1"
                        min="1"
                        max="30"
                    />

                </mat-form-field>

            </div>

        </mat-card-content>

    </mat-card>

</div>
