<div [formGroup]="group" class="tab-container">

    <mat-card appearance="outlined">

        <mat-card-header>
            <mat-card-title>
                Marker Options
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <!-- Enable Markers -->
            <div class="full-width form-row">
                <mat-checkbox formControlName="enabled">
                    Enable Markers
                </mat-checkbox>
            </div>

            <div *ngIf="group.get('enabled')?.value">

                <!-- Marker Size -->
                <div class="full-width form-row">

                    <mat-form-field class="full-width">

                        <mat-label for="size">
                            Marker Size
                        </mat-label>

                        <input
                            matInput
                            type="number"
                            placeholder="Marker size"
                            formControlName="size"
                            appearance="fill"
                            step="0.1"
                            min="0"
                            max="10"
                        />

                    </mat-form-field>

                </div>

                <!-- Stroke Width -->
                <div class="full-width form-row">

                    <mat-form-field>

                        <mat-label for="stroke">
                            Stroke Width
                        </mat-label>

                        <input
                            matInput
                            type="number"
                            placeholder="Stroke Width"
                            formControlName="stroke"
                            appearance="fill"
                            step="0.1"
                            min="0"
                            max="10"
                        />

                    </mat-form-field>

                </div>

                <!-- Marker Colour -->
                <div class="full-width form-row">

                    <ngx-colors
                        class="vertical-centre"
                        ngx-colors-trigger
                        formControlName="colour"
                    ></ngx-colors>

                    <mat-label for="colour" class="vertical-centre" style="width: 120px;">
                        Marker Colour
                    </mat-label>

                    <mat-slider
                        min="0"
                        max="1"
                        step="0.05"
                        showTickMarks="true"
                        style="width: 200px;"
                    >
                        <input
                            matSliderThumb
                            matTooltip="Opacity"
                            matTooltipPosition="above"
                            formControlName="opacity"
                        />
                    </mat-slider>

                    <mat-label class="vertical-centre">
                        {{ group.get('opacity')?.value * 100 | number: '1.0-0' }}%
                    </mat-label>

                    <button
                        mat-mini-fab
                        matTooltip="Use Line Colour"
                        matTooltipPosition="above"
                        class="horizontal-right"
                        (click)="setColour('markers', lineColour)"
                    >
                        <mat-icon>format_paint</mat-icon>
                    </button>

                </div>

                <!-- Stroke Colour -->
                <div class="full-width form-row">

                    <ngx-colors
                        class="vertical-centre"
                        ngx-colors-trigger
                        formControlName="strokeColour"
                    ></ngx-colors>

                    <mat-label
                        for="strokeColour"
                        class="vertical-centre"
                        style="width: 120px;"
                    >
                        Stroke Colour
                    </mat-label>

                    <mat-slider
                        min="0"
                        max="1"
                        step="0.05"
                        showTickMarks="true"
                        style="width: 200px;"
                    >
                        <input
                            matSliderThumb
                            matTooltip="Opacity"
                            matTooltipPosition="above"
                            formControlName="strokeOpacity"
                        />
                    </mat-slider>

                    <mat-label class="vertical-centre">
                        {{ group.get('strokeOpacity')?.value * 100 | number: '1.0-0' }}%
                    </mat-label>

                    <button
                        mat-mini-fab
                        matTooltip="Use Marker Colour"
                        matTooltipPosition="above"
                        class="horizontal-right"
                        (click)="setColour('markers', group.get('colour')?.value, 'strokeColour')"
                    >
                        <mat-icon>format_paint</mat-icon>
                    </button>

                </div>

            </div>

        </mat-card-content>

    </mat-card>

</div>
